<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<!-- 클래스 하나당 하나의 bean 필요 -->
<bean id = "tv" class ="polymorphism.Pol_SamsungTV">
 	<!-- constructor injection  constructor-arg element-->
 	<constructor-arg ref = "sony"></constructor-arg>
</bean>
<bean id = "sony" class ="polymorphism.Pol_SamsungTV"></bean>
</beans>
